useDynLib(generalSEIR)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("utils", "data")
import(deSolve)
export(getBeta)
export(submodel)
export(getProps)
export(deterministic)
export(getEquil)
export(simSEIRV)
